@import "mixins";
@import "variables";

// TODO: fix resp
.hero {
  padding-top: 35px;
  position: relative;
  margin: auto;
  width: 90%;

  @include breakpoint(small) {
    width: 70%;
  }
  @include breakpoint(medium) {
    width: 60%;
  }
  @include breakpoint(large) {
    width: 50%;
  }

  h1 {
    display: block;
    margin: 0;
    text-align: center;
    @include breakpoint(small) {
      width: 150px;
      text-indent: -30%;
    }
    @include breakpoint(medium) {
      width: 180px;
    }
    @include breakpoint(large) {
      width: 200px;
    }
  }

  &__name {
    animation: fadeInFromRight 1s;
    position: relative;
    font-size: 2rem;
    @include breakpoint(small) {
      font-size: 2.2rem;
      position: absolute;
      left: -5%;
      top: 25%;
    }
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
    @include breakpoint(large) {
      font-size: 3rem;
      left: 0;
      top: 25%;
    }
  }

  &__picture {
    width: 100%;
    height: auto;
  }

  &__profession {
    animation: fadeInFromLeft 1.5s;
    position: relative;
    font-size: 1rem;
    @include breakpoint(small) {
      font-size: 2.2rem;
      position: absolute;
      bottom: 20%;
      right: -15%;
    }
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
    @include breakpoint(large) {
      font-size: 3rem;
      bottom: 20%;
      right: -10%;
    }
  }
}

.question {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  animation: fadeInFromTop 0.5s;
  font-size: 1.5rem;
}

.button {
  margin-top: 10px;
  border-radius: 15px;
  background-color: $base-color;
  color: black;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;
  animation: fadeInFromTop 1s;
  font-size: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInFromLeft {
  0% {
    // transform: translateX(-1000px) rotate(-360deg * 10);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    // transform: translateX(1000px) rotate(360deg * 10);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
