@import "mixins";
@import "variables";

.hero {
  padding-top: 35px;
  display: flex;
  flex-flow: column;
  height: calc(100vh - 55px);
  &__banner {
    flex-grow: 1;
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: column;
    &__name {
      animation: fadeInFromRight 1s;
      position: relative;
      font-size: 1.2rem;
      @include breakpoint(small) {
        font-size: 2.2rem;
        position: absolute;
        left: -5%;
        top: 25%;
      }
      @include breakpoint(medium) {
        font-size: 2.5rem;
      }
      @include breakpoint(large) {
        font-size: 2.5rem;
        left: 0;
        top: 25%;
      }
    }
    &__img_container {
      height: 100%;
      width: auto;
      display: flex;
      justify-content: center;
      &__picture {
        position: relative;
        height: 100%;
        width: auto;
      }
      &__pictureBackground {
        display: none;
        @include breakpoint(small) {
          display: block;
          position: absolute;
          height: 100%;
          width: auto;
          z-index: -1;
          @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
              filter: hue-rotate(calc(60deg * #{$i}));
              z-index: calc(-1 * #{$i});
            }
          }
        }
      }
    }

    &__profession {
      animation: fadeInFromLeft 1.5s;
      position: relative;
      font-size: 1.4rem;
      @include breakpoint(small) {
        font-size: 2.2rem;
        position: absolute;
        bottom: 20%;
        right: -15%;
      }
      @include breakpoint(medium) {
        font-size: 2.5rem;
      }
      @include breakpoint(large) {
        font-size: 2.5rem;
        bottom: 20%;
        right: -10%;
      }
    }
  }

  h1 {
    display: block;
    margin: 0;
    text-align: center;
    @include breakpoint(small) {
      width: 150px;
      text-indent: -30%;
    }
    @include breakpoint(medium) {
      width: 180px;
    }
    @include breakpoint(large) {
      width: 200px;
    }
  }

  &__question {
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    animation: fadeInFromTop 0.5s;
    font-size: 1.5rem;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInFromLeft {
  0% {
    // transform: translateX(-1000px) rotate(-360deg * 10);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    // transform: translateX(1000px) rotate(360deg * 10);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
