@import "mixins";
@import "variables";

.project {
  border-radius: 30px;
  background-color: #ffffff80;
  display: inline-block;
  align-items: center;
  padding: 25px;
  width: 100%;
  margin-top: 20px;
  transform: translateX(-100px);
  opacity: 0;

  @include breakpoint(medium) {
    display: flex;
    padding: 50px;
  }

  &Reveal {
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    transform: translateX(0);
    opacity: 1;

    .project__techStack {
      img {
        transform: translateY(0);
        opacity: 1;
        filter: hue-rotate(0);
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            transition-delay: 0s, 0s, 0s, calc($i * $delay), calc($i * $delay), calc($i * $delay);
            transition-duration: 0.2s, 0.2s, 0.2s, 0.6s, 0.6s, 0.6s;
            transition-property: height, width, margin-top, transform, opacity, filter;
            transition-timing-function: ease-out;
          }
        }
        margin-top: 10px;
        &:hover {
          height: 40px;
          margin-top: 0;
        }
      }
    }
  }

  &__image {
    width: 100%;
    @include breakpoint(large) {
      width: 40%;
    }
    height: auto;
    aspect-ratio: 16 / 10;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    margin-right: 25px;
  }

  &__info {
    width: 100%;
    @include breakpoint(large) {
      width: 60%;
    }
  }

  &__title {
    margin: 0;
    margin-top: 20px;
    @include breakpoint(large) {
      margin-top: 0;
    }
    margin-bottom: 15px;
    font-size: 1.5625rem;
  }

  &__body {
    margin-bottom: 30px;
    font-size: 1rem;
  }

  &__techStackColon {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  &__techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img {
      height: 30px;
      width: auto;
      transform: translateY(-30px);
      filter: hue-rotate(360deg);
      opacity: 0;
    }
  }
}
