@import "mixins";
@import "variables";

.project {
  border-radius: 30px;
  background-color: #ffffff80;
  display: inline-block;
  align-items: center;
  padding: 25px;
  width: 100%;
  margin-top: 20px;
  transform: translateX(-100px);
  opacity: 0;

  @include breakpoint(medium) {
    display: flex;
    padding: 50px;
  }

  &Reveal {
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    transform: translateX(0);
    opacity: 1;

    .project__techStack {
      img {
        transform: translateY(0);
        opacity: 1;
        filter: hue-rotate(0);
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            transition-delay: calc($i * $delay), calc($i * $delay), calc($i * $delay);
            transition-duration: 0.6s;
            transition-property: transform, opacity, filter;
            transition-timing-function: ease-out;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    @include breakpoint(large) {
      width: 50%;
    }
    height: auto;
    aspect-ratio: 16 / 10;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    margin-right: 25px;
  }

  &__title {
    margin: 0;
    margin-top: 20px;
    @include breakpoint(large) {
      margin-top: 0;
    }
    margin-bottom: 15px;
    font-size: 1.5625rem;
  }

  &__body {
    margin-bottom: 30px;
    font-size: 1rem;
  }

  &__techStackColon {
    margin-bottom: 15px;
    font-size: 1rem;
  }

  &__techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img {
      height: 30px;
      width: auto;
      transform: translateY(-30px);
      filter: hue-rotate(360deg);
      opacity: 0;
    }
  }
}

.projects {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

  &__title {
    padding-bottom: 30px;
    margin: 0;
    font-size: 1.875rem;
  }

  &__backgroundSphere {
    position: absolute;
    filter: blur(80px);
    background-color: $base-color;
    transition: top 0.1s ease-in-out;
    z-index: -1;
  }

  &__backgroundSphere:nth-child(1) {
    width: 30vw;
    height: 50vh;
    left: 0;
  }

  &__backgroundSphere:nth-child(2) {
    width: 20vw;
    height: 100vh;
    transform: rotate(-30deg);
    right: 0;
    top: 60vh;
  }

  &__backgroundSphere:nth-child(3) {
    width: 10vw;
    height: 100vh;
    transform: rotate(30deg);
    left: 0;
    top: 120vh;
  }

  &__backgroundSphere:nth-child(4) {
    width: 30vw;
    height: 50vh;
    right: 0;
    top: 200vh;
  }

  &__backgroundSphere:nth-child(5) {
    width: 20vw;
    transform: rotate(50deg);
    height: 100vh;
    left: 0;
    top: 250vh;
  }
}
