.hero {
  padding-top: 65px;
  width: 50%;
  position: relative;
  margin: auto;

  h1 {
    font-size: 3rem;
    text-indent: -30%;
    display: block;
    width: 200px;
    margin: 0;
  }

  &__name {
    position: absolute;
    top: 25%;
  }

  &__picture {
    width: 100%;
    height: auto;
  }

  &__profession {
    position: absolute;
    bottom: 20%;
    right: -10%;
  }
}
